---
import Layout from '../../layouts/Layout.astro';
import AdminNavbar from '../../components/admin/AdminNavbar.astro';
---

<Layout title="Interfaz del Admin">
  <div class="min-h-screen bg-gray-100">
    <AdminNavbar />
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <h1 class="text-3xl font-bold text-gray-900 mb-8">Acceso directo al Punto de Venta, que se abre en otra pestaña</h1>
    </div>
  </div>
</Layout>