{% extends 'base.html' %}

{% block title %}Detalle de la Venta{% endblock %}

{% block content %}
<h1>Detalle de la Venta {{ venta.id }}</h1>
<p>Fecha y hora: {{ venta.fecha_hora }}</p>
<p>Usuario: {{ venta.usuario.username }}</p>
<p>Total: ${{ venta.total }}</p>

<h2>Productos Vendidos</h2>
<ul>
    {% for detalle in venta.detalles.all %}
        <!-- Dentro del bucle de detalles de venta -->
        <li>
            {{ detalle.producto.nombre }} - Cantidad: {{ detalle.cantidad }} - Subtotal: ${{ detalle.subtotal }}
            <a href="{% url 'ventas:devolver_producto' detalle.id %}">Devolver</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
